# General
GoodRunLists
*rootlogon.C
*.key
lib
*.pdf
*.png
*.zip
*.swp
*.root
*.tgz
*.tar.gz
*.dSYM
*.exe

# ROOT compilation tags
*_h.d
*_C.d
*_h.so
*_C.so
*_h_ACLiC_dict_rdict.pcm
*_C_ACLiC_dict_rdict.pcm


# 2018 5.02 TeV Pb+Pb Z-tracks analysis
rootFiles
Plots
Submit/errors
Submit/logs
Submit/outputs
